.app{
  text-align: center;
}

.input-container{
  width: 500px;
  padding: 5px;
}

.result-space{
  width: 500px;
  max-height: 500px;
  border: 2px solid black;
  margin: auto;
  padding: 5px;
  overflow-y: scroll;
}

.result{
  display: block; 
  text-align: start ; 
  margin: 3px; 
}

.result:hover {
  background-color: aliceblue;
  cursor: pointer;
}

